* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100vw;
  height: 100vh;
  background-color: #00a884;
  display: grid;
  place-items: center;

  & > .container {
    width: 80%;
    max-width: 500px;
    height: 250px;
    background-color: #f0f2f5;
    display: grid;
    place-items: center;

    & > form {
      display: grid;
      place-items: center;
      row-gap: 15px;
      width: 80%;

      & > label {
        color: #323232;
      }

      & > input[type="text"] {
        height: 35px;
        width: 100%;
        border-radius: 20px;
        border: none;
        color: #323232;
        text-indent: 20px;
      }

      & > input[type="submit"] {
        cursor: pointer;
        height: 25px;
        width: 50px;
        border-radius: 20px;
        border: none;
        color: #ffffff;
        background-color: #00a884;
      }
    }
  }
}
